*{
    box-sizing: border-box;
  }
/* 
  .appointment-time{
    border-bottom:solid ;
    border-bottom-color black;
    border-bottom-width: 1px;
    height: 25px;
  } */
  
  .column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

